html {
	font-family: Overpass, sans-serif;
}

* {
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

.major {
	font-family: Montserrat Alternates, sans-serif;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: .1em;
	color: black;
	
	position: relative;
	top: 5%;
}

a {
	color: darkblue;
}

pop {
	color: #02783F;
	font-weight: 1000;
}

pop2 {
	color: darkred;
	font-weight: 1000;
}

popLight {
	color: black;
}

popLight2 {
	color: green;
}

/* Topper - Logo thing above header */

.topper {
	height: 8em;
	background-color:aqua;
}

/* Header */

#header {
		font-family: Montserrat;
		color: #353535;
		position: fixed;
		z-index: 10000;
		left: 0;
		/*top: 0;*/
		width: 100%;
		background-color:#FFF;
		opacity: 1;
		height: 4em;
		line-height: 4em;
		box-shadow: 0 0 .5em 0 rgba(0, 0, 0, .3);
	}

		#header h1 {
			position: absolute;
			color: #353535;
			left: 1em;
			top: 0;
			height: 3.5em;
			line-height: 3.5em;
			cursor: default;
			font-size: 1.25em;
			vertical-align: center;
		}

			#header h1 a {
				font-size: 1.5em;
			}

		#header nav {
			position: absolute;
			right: 0.5em;
			top: 0;
			height: 3em;
			display: inline-block;
		}

			#header nav ul {
				margin: 0;
			}

				#header nav ul li {
					display: inline-block;
					margin-left: .8em;
					margin-right: .8em;
					font-size: 1em;
				}

					#header nav ul li a {
						position: relative;
						bottom: 1.5em;
						display: block;
						color: #A32C28;
						font-weight: 700;
						text-decoration: none;
						height: 4em;
						padding: 0px 0px;
  						margin: 1.5em 10px;
						outline: 0;
						transition: color .1s ease-in;
					}

					#header nav ul li a:hover {
						color: #22235A;
					}

					#header nav ul li a::before {
					  transition: 300ms;
					  height: 3px;
					  content: "";
					  position: absolute;
					  background-color: #031D44;
					}

					#header nav ul li a:active {
						color: #272F6C;
					}


.nav-link-ltr::before {
  width: 0%;
  bottom: 1.2em;
}

.nav-link-ltr:hover::before {
  width: 100%;
}



html {
	background-color: #EFEFEF;
}

main {
	background-color: #EFEFEF;
}

head {
	background-color: #EFEFEF;
    background-size: cover;
}

body {
    background-color: #EFEFEF;
    background-size: cover;
	min-width: 60em;
}

.hero {
    padding-top: 5em;
    padding-left: 5%;
    padding-right: 5%;
	height: 51.5rem;
    width: 100%;
    background-color: #EFEFEF;
    justify-content: center;
    position: relative;
    
}

.intro {
	padding: 2em 12em;
	height: 18rem;
	background-color: #19174A;
	color: #EFEFEF;
	margin: auto;
	text-align: center;
}

.intro a {
	color: #EFEFEF;
	font-weight: 500;
}

.intro h2 {
	font-family: Montserrat, sans-serif;
	text-align: center;
	margin: auto;
	font-size: 2em;
}

.intro p {
	margin: 2em;
}

#welcome {
	font-family: Montserrat Alternates, sans-serif;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: .1em;
	text-align: center;
	
	position: relative;
	top: 5em;
}



.textchunk {
	text-align: left;
	
	line-height: 1.5em;
	
	position: relative;
	top: 10%;
	padding: 1em 1em;
}

.imagechunk {
	margin: auto;
	display: block;
	align-content: center;
	
	
	position: relative;
	top: 10%;
	padding: 1em 1em;
}


.button {
	color: #F7F7F7;
	font-family: Montserrat;
	text-decoration: none;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 1em;
	font-weight: 500;
	
	background-color: #000;
	border: 5px solid #000;
	border-radius: 2rem;
	box-sizing: border-box;
	cursor: pointer;
	padding: .5rem 0rem .5rem 1rem;
	transition-duration: .1s;
	transition-property: color background-color;
	transition-timing-function: ease-in;
}

.button:hover {
	background-color: #F7F7F7;
	color: #353535;
}

.button:active {
	color: #A32C28;
	border-color: #A32C28;
	transition-duration: .1s;
	transition-property: color border-color;
	transition-timing-function: ease-out;
}

.hero .button {
	position: relative;
	top: 25em;
	left: 75%;
}



footer {
	font-family: Montserrat, sans-serif;
	color: #939393;
	
	background-color: white;
	box-shadow: 0 0 .5em 0 rgba(0, 0, 0, .5);
	width: 100%;
	height: 6rem;
	order: 5;
	vertical-align: middle;
	
	padding: 2.5em 3em;
}

footer a {
	text-decoration: none;
	color: #434343;
	font-family: inherit;
	transition: color .1s ease-in;
}

footer a:hover {
	color: #22235A;
}


/* Photography Specifics */

/* About Page Specifics */

#about {
	padding-top: 5em;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 35rem;
    background-color: #EFEFEF;
    justify-content: center;
    position: relative;
	color: #000;
}

.research1 {
	height: 35rem;
	background-color: #19174A;
	color: #EFEFEF;
}

.research-info {
	margin: 2em 1em;
	margin-top: 3.5em;
	align-content: center;
	text-align: center;
}

.research-block {
	position: relative;
	text-align: center;
	float: left;
	width: 25%;
	padding: 0;
	margin: 0;
}

.research-block h2 {
	font-family: Montserrat, non-serif;
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-top: .5em;
}

.research-block p {
	font-weight: 200;
	text-align: center;
	padding: 0 1em;
}

.research2 {
	height: 48rem;
	background-color: #EFEFEF;
	color: #000;
}

/* Articles Specifics */







